/* ЭКРАНЫ ТЕЛЕФОНОВ */

@media screen and (max-width: 780px) {

	html {
		font-size: 100%;
	}

	/*социальные иконки*/
	.wrapper {
		/*display: flex;*/
		/*flex-wrap: wrap;*/
		/*flex-direction: column;*/

	}
	.main-header {
		width: 100%;
		position: fixed;
		height: 50px;
		padding: 0 15px;
		justify-content: space-between;

	}

	.logo__title {
		font-size: 1.5rem;
	}
	.main-menu {
		display: none;
	}

	.main {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.block-article {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
	.block-article__article {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.block-article__wrap {
		max-width: 70%;
		margin: 0 auto;
	}
	.block-article__description {
		text-align: center;
	}
	.block-article__foto {
		max-width: 100%;

	}

	.blockquote__text {
		font-size: 0.8rem;
		text-align: center;
	}


	.article__content {
		margin: 20px;
		text-align: center;
	}

	.img__title {
		font-size: 1.5rem;
	}

	.nav-menu {
		padding-top: 15px;
	}
	.main-footer {
		height: auto;
	}

}
