.wrap-container {
  max-width: 800px;
  margin: 0 auto;
  background:transparent;
  text-align: center;
  &__head {
    color:#000000;
    text-align:center;
  }
  &__notes {
    margin:1rem 0 0 0;
  }
  &__link,
  &__link:visited{
    color:#520611;
    font-size: 1.3rem;
  }
  &__link:hover {
    color:#135b18;
  }
}
.accordion {
  width: 100%;
  background: #fff;
  text-align: left;
  &__title{
    font-size: 1.1rem;
    letter-spacing: 2px;
    padding: 1rem 1.5rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
    width: 100%;
    text-align:center;
    &__title:hover,
    &__accordion__title:focus {
      background: #000;
    }

  }
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0 1.5rem 0 1.5rem;
    color: #666;
    line-height: 1.6rem;
    font-weight: 500;
    min-height: 0;
    transition: padding 0.5s, max-height 0.5s;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    padding:10px;
    text-align: center;
  }

}